@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.wrapper {
  margin: 5% 20%;
}

.image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 21%;
  border-radius: 53%;
  height: 195px;
}

.name {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
}

.blockquote {
    border-left: 3px solid black;
    padding-left: 3.5%;
    font-size: 18px;
    line-height: 28px;
}

.item, .skill, .experience_summary, .project, .education {
    font-size: 18px;
    line-height: 28px;
}

.experience_title {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

.experience_company {
    font-size: 19px;
}

.project, .education {
    margin-bottom: 35px;
}

.project_title, .degree {
    font-size: 19px;
    margin: 0;
}

.blog {
    font-size: 18px;
    margin: 20px 0;
    font-weight: 500;
    color: #37352f;
    line-height: 28px;
}

.blog::before {
    content: "✅";
    text-decoration: none;
}

.contact {
    font-size: 18px;
    margin: 15px 0;
}

/* Reusable Styles */
.mb-6 {
    margin-bottom: 6%;
}

.section-title {
    font-size: 1.875em;
    font-family: 'Karla', sans-serif;
}

.row {
    width: 100%;
    display: flex;
}

.col-lg-6 {
    width: 50%;
}

a {
    color: #37352f;
    opacity: 0.9;
}

.back_to_home {
    text-align: center;
    padding: 50px 0px;
}

a.project_link {
    text-decoration: none;
    color: #000000;
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .wrapper {     
        margin: 5% 3%;
    }

    .image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        border-radius: 53%;
        height: 150px;
    }
}

.project_title a {
    text-decoration: none;
    color: #000;
    opacity: 1;
}